#addDelete {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    width: 100%;
}

#izmene {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: left;
    width: 100%;
}

.lista {
    margin-top: 0;
    padding: 0;
}

#deleteDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    margin-left: 5px;
}

#addDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    margin-left: 15%;
}

.questionD {
    margin-top: 0;
    margin-bottom: 1px;
}

.deleteBtn,
.addBtn {
    width: 100px;
    height: 25px;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Times New Roman';
    padding-left: 5px;
    color: #3E1061;
    border: 2px solid #3E1061;
    border-radius: 7px;
    background-image: linear-gradient(to right, #7D78D6, #A8A3D5, #ffffff);
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman';
    font-size: 18px;
}

@media(max-width: 100%) {
    #addDelete {
        width: 100px;
    }
}