body {
    display: flex;
    flex-direction: column;
}

.maliDiv {
    display: flex;
    flex-direction: column;
    margin: 2%;
    align-items: center;
    /* justify-content: space-between;
    flex-wrap: wrap; */
}

.dugmad {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 300px;
}

.dugme {
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
}

.next {
    display: flex;
    flex-grow: 1;
    width: 200px;
    padding: 0%;
    text-align: center;
}